/* ********** GENERAL ********** */

* {
	box-sizing: border-box;
	overflow-x:none;
}

body {

	background-color: #ffe8ee;
	
}

div.container#header {
	display:block;
	float:left;

	width:100%;
	margin:0%;
	padding:0%;
}

div.col-lg-12 {
	padding:0;
	margin:0;
	width:100%;
}

.row {
	width:100%;
	margin:0 auto;
}

div#title {
	width:100%;
	position:relative;
	padding:0;
	margin:0;
}

div#contentArea.col-lg-5 {
	position:relative;
	width:36%;
	margin-top:4%;

	border-right:2px dashed #ffa0c4;
}

div#searchArea {
	position:relative;
	width:100%;
	margin:0 auto;
}

div#btnArea {
	position:relative;
	width:100%;
	margin:0 auto;
}

div#gifArea.col-lg-7  {
	width:64%;
	margin-top:4%;	
	display:block;
	float:left;
}

div.ghibliDiv {
	position:relative;
	width:33%;
	display: block;
	float:left;
	padding:0;

}

/* ********** TEXT *********** */

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 55px;
	letter-spacing: 1.5px;

	position:relative;
	left:10%;
}

label, input, p, button {
	font-family: 'Palanquin', sans-serif;
	font-size:15px;
}

div.ghibliDiv p {
	position:absolute;
	bottom:5px;
	left:5px;
	z-index:7;

	margin:2%;
	padding-bottom:1%;

	color:#edc7d5;
	font-size:13px;
}

label {
	font-size:28px;
	font-weight:bolder;
	padding: 2%;
}

/* ********** NAV ********** */
nav {
	position:absolute;
	left:0;
	right:0;
	width:100%;
}

.navbar-inverse .navbar-text {
	color:#ffa0c4;
}

.navbar-inverse .navbar-text:hover {
	color:#82c1f2;
}
/* ********** FORM ********** */

form {

	position:relative;
	width:75%;

}

input {
	margin:2%;
}

input#searchTerm {

	width:100%;
	height:50px;
	margin:0;

	color:#ffa0c4;
	border-color:#ffa0c4;
	background-color: #ffffff;
	border-width:2px;

}

hr {
	border-top: 2px solid #ffffff;
}

/* ********** BUTTONS ********** */

#addBTN {

	width:130px;
	height:50px;
	margin:2%;

	color:#ffa0c4;
	border-style: solid;
	border-width:2px;
	border-color:#ffa0c4;
	background-color:#ffffff;

}

#addBTN:hover {
	color:#ffffff;
	border-color:#ffffff;
	background-color: #ffa0c4;
}

button {

	display:block;
	float:left;

	width:42%;
	height:50px;
	margin:1%;
	border-radius: 25px;

	color:#ffa0c4;
	border-style: solid;
	border-width:2px;
	border-color:#ffa0c4;
	background-color: #ffffff;
}

button:hover {

	color:#82c1f2;
	border-style: solid;
	border-width:2px;
	border-color:#b7e0ff;
	background-color:#ffffff;
}

/* ********** IMAGES ********** */
img {
	width:100%;
	height:50%;
	margin:3%;
	overflow-y:none;
}

img:hover {
	padding:1%;
}

/* ********** RESPONSIVE IMAGES GRID ********** */


.slideUp {
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 1.5s;
	animation-name: upAndIn;
	animation-duration: 1.5s;
	animation-delay:1s;

	opacity:0;
	animation: slideIn .5s ease 0.2s forwards;
	transform:translateY(150px);
}

@keyframes slideIn {
	to {
		transform: translateY(0); 
		opacity: 1;
	}
 }

#gifArea {

	line-height: 0;

	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;
}

.ghibliDiv {
	width: 100% !important;
	height: auto !important;

	transition: transform 2s;
}

.ghibliGif {
	padding:0;
	margin:0;
	border:0;
}

/* ******* MEDIA QUERIES ********** */
@media screen and (min-width: 770px) and (max-width:1150px) {

	div#contentArea.col-md-12 {
		position:relative;
		width:100%;
		margin-top:4%;
		margin-right:0;

		border-right:none;
	}

	div#gifArea.col-sm-12  {
		width:100%;
	}

	button {
		width:50%;
	}

}

@media screen and (max-width:769px) {

	div#contentArea.col-sm-12 {
		position:relative;
		width:100%;
		margin-top:4%;
		border-right:none;
	}

	div#gifArea.col-sm-12  {
		width:100%;
	}

	button {
		width:40%;
	}

	#btnArea.col-lg-12 {
		display:block;
		width:72%;
		margin:0 auto;

		padding:4%;
	}

	#gifArea {
		border-top:2px solid white;
		padding-top:5%;
	}
}